<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>detalle de la persona</title>
</head>
<body>
<h1>detalle de la persona</h1>

 <div>   id persona: {{persona.identificacion}} </div>
 <div>   Nombre persona: {{persona.nombre}} </div>
 <div>   Apellido persona: {{persona.apellidos}} </div>


<a href="{% url 'index' %}">Regresar al Inicio</a>
</body>
</html>