!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar persona</title>
</head>
<body>
<form method="POST">
    <h1>Editar Personas</h1>
    <table>
    {{formapersona}}
        </table>
    <button type="submit">Enviar</button>
    {% csrf_token %}
</form>
</body>
</html>ad>
<body>

</body>
</html>