<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario de bodega</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SISTEMA DE ADMINISTRACION DE INVENTARIO</a>
    </div>
</nav>

<h1>Bienvenido al sistema SAI</h1>
<div>
    Numero de personas : {{no_personas}}
</div>
<div>
    <a href="nueva_persona"> Agregar persona </a>
</div>
<div>
    <a href="nuevo_Recurso"> Agregar Recurso </a>
</div>


    <div class="container">
<table border="1" ,
           class=" col-md-8"
    >

        <thead>
        <tr>
            <th>identificacion</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        <body>
        {% for Registro_persona in personas %}
        <tr>
            <td>{{Registro_persona.identificacion}}</td>
            <td>{{Registro_persona.nombre}}</td>
            <td>{{Registro_persona.apellidos}}</td>
            <td><a href="Detalle_persona/{{Registro_persona.identificacion}}"> ver</a></td>
            <td><a href="Editar_persona/{{Registro_persona.identificacion}}"> Editar</a></td>
            <td><a href="Eliminar_persona/{{Registro_persona.identificacion}}"> Eliminar</a></td>

        </tr>
        {% endfor%}
        </body>


    </div>


</div>
</body>
</html>