<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Recurso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SISTEMA DE ADMINISTRACION DE INVENTARIO</a>
    </div>
</nav>
<form method="POST">
    <h1>Agregar Recurso</h1>
    <table>
    {{formapersona}}
        </table>
    <button type="submit">Enviar</button>
    {% csrf_token %}
</form>
</body>
</html>